<div class="row">
  <div class="col-3">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#{{i}}doc{{ document.docId }}" role="tab" *ngFor="let document of documentHolder; let i = index">Document Id: {{ document.docId }}</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show" id="{{i}}doc{{ document.docId }}" role="tabpanel" *ngFor="let document of documentHolder; let i = index">
          <h3>Document Details:</h3>
          <a class="list-group-item list-group-item-action" >Document Id: {{ document.docId }}</a>
          <a class="list-group-item list-group-item-action" >For Account Id: {{ document.docAccountId }}</a>
          <a class="list-group-item list-group-item-action" >Document Name: {{ document.docName }}</a>
      </div>
    </div>
  </div>
</div>